body{
  background-color: #FAF0CF;
  color: #141414;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;

}

.text-muted{
  color: #696969;
  opacity: 0.5;
}

.text-thin{
  font-weight:100;

}

.title-super{
  font-size: 60px;
}

.title-logo{
  margin-top: 20px;
}
